name: Index Content to Turso
on:
  push:
    branches:
      - main
      - master

jobs:
  index:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 9 # Actualizamos a la versión 9 para mejor soporte JSR

      - uses: actions/setup-node@v4
        with:
          node-version: 22 # Node 22 es más estable para estas librerías nuevas
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile
      
      - name: Run indexer
        env:
          TURSO_DB_URL: ${{ secrets.TURSO_DB_URL }}
          TURSO_AUTH_TOKEN: ${{ secrets.TURSO_AUTH_TOKEN }}
        run: pnpm index